#content { display: block; width: 820px; margin: 0 auto; }
#left { display: block; width: 560px; float: left; overflow: hidden; margin-right: 20px; }
#right { display: block; width: 240px; float: left; overflow: hidden; }
.wrapper { width: 850px; overflow: hidden; margin: 0 auto; background: none; }
header { height: 100px; background-color: white; }
#content { display: block; width: 820px; margin: 0 auto;  }

#left { display: block; width: 560px; float: left; overflow: hidden; margin-right: 20px; }
#right { display: block; width: 240px; float: left; overflow: hidden; }

a { color: #3c86b7; text-decoration: none; }
a:hover { text-decoration: underline; }

ul { line-height: 120%; }

@media screen and (max-width: 650px) {
    .clearfix {
        width: 100%;
        display: block;
    }
}


p { font-size: 1.2em; line-height: 1.4em; font-family: Arial, sans-serif; color: #333; margin-bottom: 15px; }
h1 { font-family: Helvetica, Arial, Verdana, sans-serif; color: #444; font-weight: bold; font-size: 1.7em; line-height: 2.0em; }
h5 { font-family: Helvetica, Arial, Verdana, sans-serif; color: #444; font-weight: bold; font-size: 1.7em; line-height: 2.0em; }
h2 { font-family: Georgia, Tahoma, sans-serif; font-style: italic; font-size: 1.4em; letter-spacing: -0.04em; line-height: 1.8em; }
h3 { color: #698216; font-weight: normal; font-size: 1.3em; line-height: 1.6em;  }
h4 { color: #232323; font-family: Arial, Tahoma, sans-serif; font-size: 1.1em; line-height: 1.3em; margin-bottom: 10px; }

.badge {
    background: rgb(71, 71, 71);
    position: relative;
    padding: 3px;
    top: -10px;
    left: -2px;
    transform: (-100%, -100%);
  }

button{
    background-color:#4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  button{
      border-radius: 2px;
  }