.flashAlert{
  padding: 20px;
  background-color: #008000;
  color: white;
}

.successClosebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.successClosebtn:hover {
  color: black;
}